.auth{
    
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:70px;
    flex-wrap:wrap;
    margin:200px auto;
    
   
}

.form-group{
 padding:8px;

}

.auth-container{
    border:1px solid gray;
    padding:10px;
   

}

.container{

    border:1px dotted gray;
    margin:100px auto;
    margin-left:200px;
    margin-right:200px;
    background-color:white;
    
    
    
}

@media(max-width:800px){

    .container{
        border:none;
    }
}

